.jd-sticky-nav-bar {
    background-color: lightskyblue;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.container {
    padding: 65px;
}

.jd-nav-center {
    padding-top: 8px;
}